<!-- blog/templates/blog/detail.html-->

{% extends "base.html" %}

{% block page_title %}
<h2>{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
<small>
    {{ post.created_on }} | Categories:
    {% for category in post.categories.all %}
    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    {% endfor %}
</small>
<p>{{ post.body | linebreaks }}</p>

<h3>Leave Comments</h3>
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.author }}
    </div>
    <div>
        {{ form.body }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3>Comments </h3>

{% for comment in comments %}
<p>
    On {{ comment.created_on }} {{ comment.author }} wrote:
    <br />
    {{ comment.body | linebreaks }}
</p>
{% endfor %}
{% endblock page_content %}